---
import { getEntry } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";

const entry = await getEntry("blog", "markdown-style-guide");
const { Content, headings } = await entry.render();
---

<BaseLayout currentPage="About" includeHeader={true}>
  <div
    class="text-lg font-medium text-black markdownContent w-full lg:w-[55%] mx-auto"
  >
    <Content />
  </div></BaseLayout
>
