---
const currentYear = new Date().getFullYear();
---

<footer class="text-[10px] md:text-sm text-grey font-semibold w-full mt-3">
  <p class="text-end">
    &copy; Cletus Igwe <span class="text-black text-opacity-70 font-medium"
      >|</span
    >
    {currentYear}
  </p>
</footer>
