---
interface Props {
  href: string;
  currentPath: string;
}

const { href, currentPath } = Astro.props;
const isActive = currentPath === href;
---

<li>
  <a
    href={href}
    class={`md:text-base text-[10px] ${isActive ? "border-b-[3px] border-b-black" : ""}`}
  >
    <slot />
  </a>
</li>
