<div class="relative inline-block w-full h-fit mb-5">
  <div
    class="border-[3px] w-full border-black rounded-sm relative z-10 -top-[5px] -left-[5px]"
  >
    <slot />
  </div>
  <div
    class="absolute inset-0 border-[3px] w-full border-black rounded-sm bg-transparent"
  >
  </div>
</div>
