---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
interface Props {
  currentPage: string;
  includeHeader: boolean;
  currentPath: string;
}
const { currentPage, includeHeader, currentPath } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles.css" />
    <title>Cletus Igwe | {currentPage} | {currentPath}</title>
  </head>

  <body class="bg-backgroundLight p-3 font-atkinson">
    {includeHeader && <Header currentPath={currentPath} />}
    <main class="min-h-[85vh] my-5">
      <!-- <div
      class="w-full h-40 md:h-64 rounded-md bg-red-500 bg-bannerImageSm md:bg-bannerImageMd bg-no-repeat bg-center bg-cover blur-sm"
    >
    </div> -->
      <slot />
    </main>

    <Footer />
  </body>
</html>
